@font-face{
    font-family: 'Bangers';
    src: url('../../assets/fonts/Bangers-Regular.ttf');
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../assets/fonts/Merriweather-Regular.ttf'); 
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Regular.ttf'); 
}
@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-Regular.ttf'); 
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway-Regular.ttf'); 
}
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf'); 
}

@font-face{
    font-family: 'Bahiana';
    src: url('../../assets/fonts/Bahiana-Regular.ttf');
}
@font-face {
    font-family: 'Bigelow';
    src: url('../../assets/fonts/BigelowRules-Regular.ttf'); 
}
@font-face {
    font-family: 'Picture';
    src: url('../../assets/fonts/BlackAndWhitePicture-Regular.ttf'); 
}
@font-face {
    font-family: 'Hanalei';
    src: url('../../assets/fonts/Hanalei-Regular.ttf'); 
}
@font-face {
    font-family: 'Barcode';
    src: url('../../assets/fonts/LibreBarcode128-Regular.ttf'); 
}
@font-face {
    font-family: 'PressStart';
    src: url('../../assets/fonts/PressStart2P-Regular.ttf'); 
}
@font-face {
    font-family: 'Shojumaru';
    src: url('../../assets/fonts/Shojumaru-Regular.ttf'); 
}
@font-face{
    font-family: 'Amatic';
    src: url('../../assets/fonts/AmaticSC-Regular.ttf');
}
@font-face{
    font-family: 'Ewert';
    src: url('../../assets/fonts/Ewert-Regular.ttf');
}
@font-face{
    font-family: 'Londrina';
    src: url('../../assets/fonts/LondrinaSketch-Regular.ttf');
}
@font-face{
    font-family: 'Nothing';
    src: url('../../assets/fonts/NothingYouCouldDo-Regular.ttf');
}
@font-face{
    font-family: 'PermanentMarker';
    src: url('../../assets/fonts/PermanentMarker-Regular.ttf');
}
@font-face{
    font-family: 'SixCaps';
    src: url('../../assets/fonts/SixCaps.ttf');
}
@font-face{
    font-family: 'TradeWinds';
    src: url('../../assets/fonts/TradeWinds-Regular.ttf');
}
@font-face{
    font-family: 'VT323';
    src: url('../../assets/fonts/VT323-Regular.ttf');
}